h3 {
  text-align: center;
}

span {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: gray;
}

.blue {
  color: blue;
}

.middle {
  text-align: center;
}

.panel {
  background-color: beige;
  padding: 5px;
}

#rules {
  display: none;
}
